/**
This CSS file is a upgraded version customized to RelateIT and contains the base styling for the RelateIT mobile app.
Version: 2.0
Author: Karsten Tietje kti@relateit.dk & Jan Lektonen jle@relateit.dk
**/

/**
GSV
**/
#left_panel {
    
    font-weight: bold;
}


/******************** Fonts ********************/
@font-face {
   font-family: UniNeueBook;
   src: url("./fonts/Fontfabric - UniNeueBook.otf") format("opentype");
}

@font-face {
   font-family: UniNeueRegular;
   src: url("./fonts/Fontfabric - UniNeueRegular.otf") format("opentype");
}

@font-face {
   font-family: UniNeueBold;
   src: url("./fonts/Fontfabric - UniNeueBold.otf") format("opentype");
}


/******************** Global ********************/

.check-font {
    font-family: UniNeueBook!important;
    font-size: 26px;
    text-shadow: none;
}
/*Gradient background */
.fixed-background {
    position:fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .relateit-gradient-bg {
    background: #87BE23!important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #87BE23 , #009ECD)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #87BE23, #009ECD)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #87BE23, #009ECD)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(45deg, #87BE23 , #009ECD)!important; /* Standard syntax */
  }

  .relateit-dark-bg {
    background: #87BE23!important; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(45deg, #87BE23 , #009ECD)!important; /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(45deg, #87BE23, #009ECD)!important; /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(45deg, #87BE23, #009ECD)!important; /* For Firefox 3.6 to 15 */
    background: linear-gradient(180deg, #2d373c , #1EAF8C)!important; /* Standard syntax */
  }

body,html, p {
    font-family: UniNeueBook, Calibri!important;
    text-shadow: none;
}

body, input, select, textarea, button, .ui-btn, p {
    font-family: UniNeueBook!important;
    line-height: 26px;
    font-size: 22px;
    text-shadow: none;
    font-weight: thicker;
}

.ui-select .ui-btn {
    line-height: 21px;
}

i {
    color:rgb(18, 18, 18);;
    padding: 15px;
    font-size: 14px;
    font-family: UniNeueRegular!important;
}


table {
    border-spacing: 4px;
    /*background-color: #FFFFFF;*/
    background: transparent!important;
    color:rgb(18, 18, 18);;
    text-shadow: none;
    font-size: 21px;
}

td {
    line-height: 18px;
    padding-left: 10px;
    font-family: UniNeueBook;
    background: transparent!important;
    color:rgb(18, 18, 18);;
}

#selectServer {
    background-color: transparent!important;
}

div#selectServer-button {
    background-color: transparent;
  	border: 1px solid white!important;
    border-radius: 3px!important;
    color: #fff;
    font-weight: 100;
    text-shadow: none;
    border: none;
    padding-left: 0;
}

div#selectServer-button:after {
    height: 24px;
    width:0px;
    background-position: center center;
}

.dt-row {
	height:20px !important;
	line-height: 10px !important;
	padding:none;
	margin:none;
}

/*Remote data eminu */
.ui-filter-inset {
    margin-top: 0;
}


/******************** Generelt ********************/



/********************Login Screen********************/

.background-image {
  	/*background-image:url('images/login-bg-3.jpg')!important;   */
    background-image: url('./images/whiteRverySmall.png')!important;
    overflow: hidden;
    opacity: 0.1;
    position:fixed;
    margin-left: auto;
    margin-right: auto;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -100;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
}

.RelateIT-FrontImage {
    display: block;
    background-image: url('./images/whiteRverySmall.png')!important;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 140px;
    margin-bottom: 130px;
    height:233px;
    width:100%;
    background-size: 200px;
}

.logo {
    display: block;
    /*background-image: url('./images/RelateIT_Logo_light.png');*/
    background-image: url('./images/RelateIT_Logo_Symbol_dark.png');
    /*background-image: url('./images/whiteRverySmall.png');*/
    opacity: 0.6;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 15px;
    margin-bottom: 10px;
    height:100px;
    width:100%;
    background-size: 80px;
}
.background-dim {
    background-color: rgba(0, 0, 0, 0.60)!important;
    margin: 0px 0px 20px 0px;
    height:100%;
    padding: 40px 50px 40px 50px;
    border-radius: 8px;
}

.btn1 {
    font-family: UniNeueRegular;
    font-size: 14px;
    line-height: 20px;
    color: white;
    height: 40px;
    background-color:rgb(18, 18, 18);;
    border: none;
    text-align: center;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 10px 20px 10px 20px;
    display: inline-block;
    margin-top: 16px;
    margin-bottom: 0px;
}

/* Hide the header on login screen */
#loginPage .ui-header{
    display: none;
}

/* Logo on login screen - change the background-image url and dimensions */
#loginLogoContainer{
	width: 100%;
	height: 100px; 
	margin-bottom: 20px;
	/*background-image:url('images/logo.png');*/
	background-repeat: no-repeat;
	background-size:contain;
}

/* Background color/image for login page */
#loginPage{
	/* background-color:#000; <- Use this for a color background */
	/*background-image:url('images/login-bg-3.jpg');   */
    
	/*background-repeat: no-repeat;
	background-size:cover;*/
    /*background: transparent;*/

}
div#loginContent {
    padding: 20px;
    border: 0px solid white;
    border-radius: 3px;
    max-width: 400px;
    margin: auto;
    background-color: rgba(0, 0, 0, 0.10)!important;    
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.4);
}
/* Styling for input fields on login screen */
#loginContent .ui-input-text{
	background-color: rgba(8, 8, 8, 0.20);
    border: 1px solid white;
    box-shadow: none;
    border-radius: 3px;
    font-size: 26px;
    background-color: transparent;
}
#txtUsername{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA+UlEQVQ4T62S4U0CQRBG31eBUIFSAWIF2oF2gBUYKhAqMFagHUgHQgNqCXQgVvCRIbuXY92VGN3k/tzMvXs784nKsX0GPACXqbwCZpI2ZbsagGg8LWobSaOjANtT4KkGBm4lPfdr3wxsz4H7BmAhKerdqQH+bHAOvDcMJpI+fjSIou1oGheQtaS8lfYVEiAsYnUnqfMrVlr+PWoHM0j7vwMGKQcXCfAWOQC2wGM/Dx3A9jXwUmiHRZxS/UbS8sDAdi08jVnShWpvYDuUP1vdjfdDSdsMCMXXXwKuJK0yoHb/Y7z9HP4H0JtDmEQG8tPPQYQrP8u4f3y3Aw8VWhFoPqpEAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position-y: 15px;
    background-position-x: 5px;
    padding-left: 30px;

}
#txtPassword{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABEUlEQVQ4T42T4TmEQQyE36kAFXAVuKsAFdDB6QAdnAoogQ6oABVwFTgVoIJ4xrN7st/th/zazWYnmUkiOhYRe8AVcAh8AC/AhaTVMFxDR/n8DGwP3gw0G4L0AO6AY+AJOCkg9h0A95Kq7/upB+BMW8CkZitVvQIrSZNcWQ8ggDdJ1mFtEWH+u5KaPz2A01KuASyi7dHZTUvSzWgFEeHHea8zyXcryUk2NYiIyv83jEaHhkJEmH+2Wbm4rWvLOvwFUBV3B/4F4InbT7FH5fyQfEtJ0zENroGzFLxTzu/JdylpMQbg1jXlDjT5BKZ5nHtzcF4WqdcJL5Sr/NGjFzUyD03/uxQyWER4aSrXhSQv1IZ9AXbZYxGBQotEAAAAAElFTkSuQmCC');
    background-repeat: no-repeat;
    background-position-y: 15px;
    background-position-x: 5px;
    padding-left: 30px;
    
}
#txtIP{
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABQElEQVQ4T4WTAVHDUBBEdxUACgAFIIEoAAnFQauAOiA4SB3gAFBAq6CVgINlXvi/k/lk2pvpJL2/f29v72I1keRe0oukJ0k/kt4lDba/Wiz/PU0muZH0LWlXLl5KWkq6KLje9mp6ZyRIAvCxgK9sQzRGOUMVub4UQNFmVFAAH5JuJW0lrW1/zslNspDED8K9pA4CJK5J2j7MXZzxCTV/xZJQ7WB7UciocHeCaGW7TzLQFgS8XNvukqCECbQBBnWQb2yvk6BgC8GDJDzgMkCep4Lz51Koq1OAuRIwDUyaBmNlJ8gziRFve2j3AENfz7TwhgcV0xLUCjljIv2P0RLQxlwLLE01kSU6+tQSsP+00QYVqwcQ8H38VzCzMGOlacUW0yrgm6hLxLZVqTzrlu5so2bWg2oih1OyOkbyS9tHE38BD22HIsY+E0kAAAAASUVORK5CYII=');
    background-repeat: no-repeat;
    background-position-y: 15px;
    background-position-x: 5px;
    padding-left: 30px;
    margin-left: 10px;    
}
#txtUsername, #txtPassword, #txtIP, #txtPort, #txtDomain{
	font-family: UniNeueBook!important;
	text-shadow:none;
	color: #fff;
    line-height: 34px!important;
    
}
#txtRemember_me{
    font-family: UniNeueBook;
    line-height: 20px!important;    
    font-size: 18px;
	width: 40%;
}

/* Login text styling */
.loginText{
	color: #fff;
	margin-top: 60px;
	text-align:center;
	text-shadow:none;
	font-size:14px;
	font-weight: 100;
	background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAABLklEQVQ4T6WTbVEDQRBEXzvAAaAgQQHEQVCQOCA4AAfBQVAADnI4CAoCDnAwVC+zqU24K66K+XUfu2+mZ3rESUTEBXAH3ADT/L0DOuBJ0kd7Re1LRKzz8hvwCviiw6A5cA2sJd3XewdARPiws88lOduviAhXZfBe0pUPFEBmXhog6avvcv0WEWeAZWwkrZSa98BsKHNPn1zJFrg0wLqnkvxxdKTkzgBrdzkGWY5BD4BLdcM2A/1YAQsDoi0/IrpajZ+z1AND0mOTaNsH2Ekq809AnUiR2MBLH0ZLSGkGFGBEWMKyNnEiaTa6gz+A4s7/j7Ex0qLMdZyR7JvnYqTGYS7pHLj9w8ovwGdt9NAyFW+cLJOt7ul4I93AEkeAlOOF8gGPaZLn3nOdbayjdf4G/p6s9mR/t9oAAAAASUVORK5CYII='); /* Icon for remember me text */
    background-repeat: no-repeat;
    background-position-x: 70px;
}
.ui-mobile label, div.ui-controlgroup-label {
    font-weight: 400;
    font-size: 16px;
    text-shadow: none;
    color: #fff;
    margin-left: 40px;
    margin-top: -10px;
}
/* Remember me styling */
#languageList{
	padding:0;
	list-style-type:none;
	
}
#languageList li{
	text-align:center;
}

/* Remember Me Slider */
#languageList li .ui-slider{
	background-color:transparent;
	border-radius: 3pxpx;
	text-shadow: none;
	font-size: 12px;
	width: 80px;
}
label.ui-btn.ui-corner-all.ui-btn-inherit.ui-btn-icon-left.ui-first-child.ui-last-child.ui-checkbox-off {
    /*background-color: rgba(0, 0, 0, 0.39);*/
    text-shadow: none;
    color: #A9A698;
    border: none;
    border-radius: 3px;
}
/* Language Slider */
.ui-slider-track.ui-corner-all{
	background-color:transparent!important;
	border-radius: 25px!important;
	text-shadow: none!important;
	width: 120px!important;
    padding-right: 0px;
    margin: 0px 8px 0px 25px!important;
	border:1px solid #fff;
}
span.ui-slider-label{
    /*background-image: url('./icons/denmark.png')!important;
    background-repeat: no-repeat;
    background-size: 150px;
    background-position: center;*/
    font-family: UniNeueRegular;
    color: #FFFFFF;
    opacity: 1.0;
	font-size: 18px!important;
    line-height: 31px!important;
	/*background-color: rgba(255, 255, 255, 0.33)!important;*/
    background: transparent;
	text-shadow: none!important;
}

.flag {
    opacity: 0.9;
    border-radius: 25px;
    border: 0px solid white;
}

.flag-da {
    opacity: 1.0;
    border-radius: 25px;
    border: 0px solid white;
    position: relative;
    top: 0px;
    /*left: 51px;*/
    left:0px;
    overflow: hidden;
    z-index: 999;
}
.flag-en {
    opacity: 1.0;
    border-radius: 25px;
    border: 0px solid white;
    /*position: relative;
    top: 0px;
    left: -51px;*/
    overflow: hidden;
    z-index: 999;
}

#languageList li .ui-slider-label{
	font-size: 16px;
	background-color: rgba(255, 255, 255, 0.33);
	text-shadow: none!important;
}

/* Login button style */
#btnLogin{
	/*border: 2px solid white;*/
    border-radius: 25px!important;
	
    background-color: rgba(255, 255, 255, 1.00);
    /*background-color: rgba(76, 175, 80, 0.75);*/
    color:rgb(18, 18, 18);
	width: 100px;
	text-shadow:none;
    /*margin-left: 125px;*/
    margin: 10px auto;
    position: relative; top:0px; left:10px;
    text-align: center;
	font-family: UniNeueBold!important;
    text-transform: uppercase;
    font-size: 18px;
    line-height: 12px;
}


/* Center aling UI block*/
#loginPage .ui-block-b{
	width:100%!important;
}

/********************Content Screen********************/

/* Header */
#index .ui-header .ui-grid-b .ui-block-b h3{
	display:none;
    background-color: #FFFFFF;
}
.ui-header{    padding-bottom: 10px;}
#index .ui-header .ui-grid-b .ui-block-b {
    /*background-image: url(images/grene-logo.png);*/
    background-repeat: no-repeat;
    background-size: contain;
    background-position-y: 10px;
    height: 50px;
    background-size: contain;
    background-position: center;
    margin-top: 10px;
}

/*Info Header */
.infoheader {
    height: 70px!important;
    background-color: #FFFFFF;
    text-shadow: none;
    
}
.inner-infoheader {
    width: 65%!important;
}
div.infoheader > div.ui-nodisc-icon {
    float: right;
    margin-right: 10px;
}

/* Menu Icon */
#index .ui-header .ui-grid-b .ui-block-a a{
	background-color: transparent;
    border: none;
}
.ui-icon-bars:after {
	background-color:transparent;
	/*Menu Icon in Base64 encoding. Change icon image here: */
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACYklEQVRIS7VWsXLaQBB9i+QumaHMBJjgL7DzBSZFakORIoVkKFxFmpG7dHa6dGEGpXKBkIoUKcB1GvIFhi+wZ5AzKT2DO05s5g6dhsRAFMdsdZJW+/be3b13hA3xzPtSNYU4BFADUCXCvkxnxgjANYChMM2Ln+23crwyaNVbWXgnmZ0C1EwLjmUxALdpflGCEmFv8czB1EhObtst/T0rew+g4kR1EHfBRAy0hWkG6zpMZ9gkwAMxg6k18a3BctO/AZTcsFkAdRn8/c5I6qs6WjXjotctPkmMAYEO5uDWTccOdF4GsOgcfTB6E99S1PxrVJwoAOEIjIaeiQJIOb9kYBx3bLmgD46yGw4J2Jsaya5kQAEoZKA+NUU1Ly3rOpB0PRWm3FUDyQQtuhdXzPgQ+9aZ/vH5u+i1UUAjz1SSOfo/PlvfdG7Zic6IcDozzF0quaFXAH2SD8u7peyGx8T0Pg8AE3+MO/a5ztVNz8EnVHHDATNVY99Sh+ixouxEIyK+JjmQhyj2Le+xiss6ZSdqAzigihvxn/zLhJITvimAjvOAzsHnN779dTlXr8P2AbZMUU0v8ovYt17moSNvTrbIW9+mWz9omVQQH2r9yEvDqjwlFYlxBaYLJRWZ2AkxYuAy9q1X/wOgxI5pX+vafbkGB5OO3XoIyFq51sUyw2EM70zRyKusynCE2SdCba3haBBlPEAgLZCZpGX2/mKZR0TsSYsF0NxomRok1fS2cqf0FkHEQ2ZSpk7ERWaSpr8QSEZvagovl+kvcy+3sJHM6gWgJhVX3yKYMZZKOQcGibEz3HRt+QUmunP/f3x+7gAAAABJRU5ErkJggg==")!important;
	background-image:cover;
	border-radius:0;
	width: 24px;
    height: 24px;
	}
/*Notifications Icon */
a#lblNotifications {
    color:rgb(18, 18, 18);;
    background-color: transparent;
    border: none;
	font-family: UniNeueRegular!important;
    font-size: 14px;

}
a#lblNotifications:after{
	background-color:transparent;
	/*Notification Icon in Base64 encoding. Change icon image here: */
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACV0lEQVRIS61VQW7TUBB9Y7srisgSqVS0J2huAD1BvUUobrpFiUhPQHqCGjlim5AIsSQ9QdMTEE5AURKJHanSbojtQeNvW46xHTetd4lm3pt5b2Y+IePbbQx6ID7yfa11t7W8mNsn86y4Mv9ROqjS6laeesafrGRmDAF8nHZqozLgErNCIODbrnFJhGoxAPcmjnVShiQmKA8ewZYjiQleNAY2Ed6XqSqK8cGnM8eyi3ICgp13X6qa7n+/D7iK5flC9/aLhiAg2KT6uBjG50mnVs8rThE0+yMCvbp/BypjqRv7v+0311n5j0KAgi4eh6Cgi4Bgt9kfAnS0qUTK72wvIpPbRPjwIALFYi907yw5VaqDxsAE4dvDCeIltCeOdRqfiuetr3tbnvtzEwJm/ABxcAyJqQrCs6AXxtm0U2snN/maCC/XkTD4ioEhPH00+/R2nI7fafbrGqgrcVPHeh0TqBON4ywCZvxiYvtO93rrTndEAPDFxLHMZAf/GR0Ct2eO1ZNEYjoWHaSyrELUyfEuAaow41DOei6BaHhruPYTTzc1yITRnoDmHbgUuLwZrdjk8B4pDxg3DJjsa3PS/G7ybYh0TVevppC7Unl6H9Q1DY0J3T+8NdzxtmuMI9NFKgA9mYokuEyf4brnRDDD3LjyKG510VLbKAASmD5kaqyXIpu6oowbAPVJpyZP6soXddDSQOfMGJPmtxeaf5WclgDQ/3vAviZPqRnLpuS0xau86QoIwudyRISDdXsQShFIVgS8IlH0Q3kBk5mqyaUTcwmY+8Aob8HyCvsHUOg4KG5XKvMAAAAASUVORK5CYII=")!important;*/
	
    text-shadow: none;    
    background-image: url('./icons/ic_mail_outline_black_24dp_1x_c.png');
    background-repeat: no-repeat;
    background-position: center center;

    background-image:cover;
	border-radius:0;
	width: 24px;
    height: 24px;
}

.ui-icon-graph:after {
    
    background-image: url(icons/ic_equalizer_white_36dp_1x_c.png)!important;

    /*background-image: url(icons/ic_assessment_black_36dp_1x_c.png)!important;*/
    /*background-image: url(icons/ic_graphic_eq_black_36dp_1x_c.png);*/
    /*background-image: url(icons/graph-icon.svg);*/

    background-repeat: no-repeat;
    background-position: center center;
    background-image:cover;
    background-size: 100%;
    /*background-size: 36px 36px;*/
    /*border-radius: 0;*/
    width: 36px;
    height: 36px;
    position: relative; top: 15px; left: 12px;
}

.ui-icon-period:after {
    background-image: url(icons/ic_date_range_black_36dp_1x_c.png)!important;
    background-size: 36px 36px;
    /*border-radius: 0;*/
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; top: 16px; left: 16px;
}

.ui-icon-numbers:after {
    background-image: url(icons/ic_format_list_numbered_black_36dp_1x_c.png)!important;
    background-size: 36px 36px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative; top: 17px; left: 12px;    
}

/* Icon-only buttons */
.ui-btn-icon-notext.ui-btn-corner-all,
.ui-btn-icon-notext.ui-corner-all {
	-webkit-border-radius: none !important;
	border-radius: none !important;
}



#main {
	/*background-color:#FFFFFF;*/
}
#main_content{
	background-color:#FFFFFF;
    min-height: 100%;
}
#right_panel {
    /*background-color: #FFFFFF;*/
}

.app-header {
    background-color: #FFFFFF!important;
}

span.appr_heading {
    font-size: 20px!important;
}
/********************Left Menu********************/

/* menu knap */
.btn-menu {
    background-image: url('./icons/ic_menu_black_36dp_1x_c.png');
    background-repeat: no-repeat;
    background-position: center center;
    /*background-size: 100%;*/
    
    z-index: 99;
    color: #1d6da3;
    /*background-color: rgba(30, 175, 140, 0.11)!important;*/
    border: none;
    margin: 12px 0px 0px 4px;
    padding: 0px 0px 0px 0px;
    border-radius: 3px;
    /*border: 1px solid #445055!important;*/
    width: 50px;
    height: 40px;
    float: left;
}

/* User information */
.custom-corners .ui-bar{
	background-color: #FFFFFF!important;
    font-family: UniNeueBook!important;
	font-size:18px!important;
    text-transform: uppercase;
	padding:0;
	border:none;
	margin-left: 0px;
	color:#445055;
	text-shadow:none;
}
#left_panel {
    width: 280px;    
    /*position: fixed;
    z-index:99999;
    min-height: 100%;*/
    -moz-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
    box-shadow: 0px 4px 8px 0px rgba(0,0,0,0.6);
}
#left_panel, #left_panel .ui-first-child{
	background-color: #FFFFFF;
}
/* Menu links */
#left_panel .ui-panel-inner .ui-listview li {
	
}
#left_panel .ui-panel-inner .ui-listview li a{
	text-shadow: none;
	/*background-color: #FFFFFF!important;*/
	border-color: rgba(0, 0, 0, 0.07)!important;
    font-family: UniNeueBold!important;
    text-transform: uppercase;
	color:black;
    font-size: 14px;
    font-weight: bold;
    padding: 10px;
}
/* Menu link icons */

#left_panel .ui-icon-carat-r:after {
    background-color:transparent;
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACD0lEQVRIS6WW/VUUQRDEqzLACA4iQCIAIlAi8C4CJQIgAiUCNAIgAiECNAIhAsmgeb95PfcGbnZYpf+625mtqv5ea2ARsS1pX9JHSfx+n9d/SbqXdCXp2vbjFIx7Bwl8ImmZ57cJCCgG0VaS8/+7pOMe0QZBRKD2QhJn33jZdgV+pieFfEkhIWllG6/W9owgIlAM+G9JByPXW5AkAng3SfCo2JoglV9K+mG7hqZcigjCodcIIwLgT5KOqieFIBXcSXqwXRO5FhkRhIoXD22T4EmLCM4XknYQVAlgLpXSUxkRkN5I+itpb+RJioXkikg4H/yRdGb7dEpaQ8JdPJkszfT4c/EiIqiCr+lSt1oq6VySRvQKArK/ZftgFNv/ICGkjxCUrrRNDmbZHE9S+AICGmQY/x5rS2J77+WdiCCfJ28l+Jm9tFF9LQEhurFNsmdZqq/gdPxGb2SItmuSFz03B6EZgmfzrpP8r2U6B5zRTr+UMq1/5jTaq+CpntFCo71rR8WHOj86FcGomAuOYOYai2jZDjsSdWf7sEOAIiZsN6Ht/ewrSEpl9cY1C2bVIaHbJ+dPhqY/rpsxUBcOFcBMHwI276GYXUIo2WqbC6e5zMjgAh1OaFhAUyuTRUQyqUSisRyuzIaEF+uS4XFpRoZX3uEctXVAnks6nbX0XyQM1wGpny3sXIydXT9bWCyToXwCBEo49wSL9X4AAAAASUVORK5CYII=")!important;
	background-image:cover;
	border-radius:0;
	width: 24px;
    height: 24px;
}/*
#m_document_approval {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABvElEQVRIS62WgVHCQBBF/+/ADpQKpAOhArUCtQOoQKhArUDsQCtQO9AK1A60gnUec8ncHJdEwJ3JJExy+3f3//uHI+JN0rH2j3Pbj2UaR0Tsn3udYWl70Qcwl0Q328alpAsAJN2maXzZ/iRR3sHU9su22SOCqq8ljSTxDBgB2HIDICKaivqwviXNqTIB8C3FPReLHmsAfyUdgNtUEORynRQAXzWAsaSzgVHRwco2dyWQ+8qa6X9wcCDpQxL3PF5tT2odUD1ElQvyxSiEEX1nJJcNjOBoHw6Q5SpVXya/sz2ryjQiJpK4hgIZAnBafPgj6ajhZ2cOUiGlLMFaq6sBrY2I6ku5oZaHpqqknJqc322jwja24aDd6RHBfG+qsizcoEtF7OZcRVS7SKrpkuWT7Y39szUHPbNfy7LsqhMgIo5Qk22U0kamMryncc+qVVdlmgiEKBRC24wrB+A37om9I1FclNGMa27c5UUY12E6H65st+dEtnPRO2B0gg+hoN4DZ5oSkpzWG9NjVABw5x3PSHlWWMXgiQYASVTOvW9LZx0NAqDtXY9MRjUIMOQ9Q+87ASCptIahZLX31b8tv7nIH/swUK8RAAAAAElFTkSuQmCC);
	    padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}

#m_credit_approval {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABrElEQVRIS9WVTTJDQRSFv7MCdiCZmWEFYQcGylRMTcIKsAKsQLICdiB2wFxVYgWYKGVy1Ynu1AtPkievSumqHnX3+bt9uxURQc1DkjKkEsEjMKyBpwGslBH0Ac9FxyawWUawKPDE+TKCHtCtgaUN7P2Jg9saa9Aqc3Aq6WTRiCLCGMf/iyAilu1c0vNUB8ArcACsSnqbFldE+L53gO3CvmfAs1EaEfAA7AC7kt5/IoiI8wTuLfeFy2HStXTuUNLFyFl6Kubt5PWk2sBtSXdFIcmZBZhoX1I3E1S5QAb3c+A4vo1UExOvAM3xqzeLISLc6XvAxlflPpuAO5JOI8K1uQIuqhBY8VCSY5oYCfwG8NqWpH5EeP+gCoH/jZ4kvzdW7JgM5GuawUe5p3XXtfUrgkIEBrNqzzH4bwls+UlSM6m2wnwtJ8ATwWeks4qb1wtFzhk7GpOc51gKex3jJXBUhcDf4SB1a3PKNXVcromxG3MTJNtZme27W/1RjUdEeP0MsLuR00oEBRJ361Jyk7vZyg384m43+OipmLcGX5QayGrdUK0EaqJrf73F+D4AQcX0zvf9bSMAAAAASUVORK5CYII=);
    padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}

#m_vacation_approval {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA6ElEQVRIS+2W0U3DQBBE31QAHYQS6CCmE0qgA0wHKSGdBHfgEuwOQgWDFp2ji2XfIUuIH590X7s7Mzu+1Vr88VEN33YDeC1PUlfCKBIk8EtFxIukz1UBpeKMIFTOQaKzI1AmsP0MPABfknrbT8AhEUfsBJzTzfW8AnHfgD4FRknDHabtyd9OUmO7Bd5r32Yl/iGptR3dRndoJ5hZtVtUfVv/a1HIi6GK4Xmsal1OuKaBjOH7OfkcbMQsl+0EVVt3i35lUbz9WCzTohmBoVq5nDDH6G87OW2ySBhiK20hWMKo/lVsIcprvgFUqciTHSawLgAAAABJRU5ErkJggg==);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}
#m_omj {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABfUlEQVRIS+2VzU3DQBCF36sA6AA6oAN+KqACkhLSAfjMgdBBkLiTDiANABINpAGkdPDQW80GYxzsdcKNlXywvTvf/LyZpaRrAFf4m1WxBqh2zLDTXwCSLAVI2gcwAXDisyTPsg1J2hpgY5IuADwGYO3kLgEzAI7kGMCY5HOAt49Ako0fApgC+ADwTnLVC+D85s1ttZHk3I8B3AB4iD0VSavSqdscQRTvKbyzl/ck32oFtGEDLgEsIkX+3Q2oGb8D8ALgPDzdi1QkQwF33u1IXr8DGsZPAYyyfCWlIkYxJ45IkvcUAeYArAIbGzWl16zFEIAVYV3fZmO1CAxODQVgRfKgGBDV/zabNgDctR4zZSn6B/TtA+fVT1q1zrRELYJc5Kkkv/t7XvPckD86OeTZNhWGfrOT6T6wB3UvhhpsOzfrfcmEJD3Acuo8gzpXCcBDL3V3DL9eUZcAPD5eA3BEctnpvkXSZ1PeI8njYkmyl/dJhYUAK8NzaH03dJ3/BGgjSE9DMWDbAAAAAElFTkSuQmCC);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}

#m_job_queue{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAA+0lEQVRIS+2UXQ3CQBCEZxzgACTgAHCAA8ABOKAOkFAJSEACKMACDoZMU5q26dHr31s3afpwe/vtzO0dMXFw4vqYAa0OD7ZI0p7kPUQaAyAATwA7kp86aBBA0grAOy9qyImk/0UUAElbAO6mS6wB3EobrMBKCkgZ0LV4qBFDLiRTJ2QASQsA58COI4BlF1l5ru1KKcmkfwVsXd/IAI+I3T7MPiqSyhTlU9FUyDb5i42X833YdYDVbGKrBPISktffWh3gsfOBx4QVHUqJRdeN9yCmYjknH44foNL1WADbabWZ16EGez8Vknxv0qb3ZxQFsZb2VjADYh1ozfsCzatLMvQn/o8AAAAASUVORK5CYII=);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}

#m_approach {
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABpklEQVRIS8VV7U1CQRCc6QA7sAO1ArUCpQOpQKxAqECtQDoQKhAqUDrACrSDNXPZe7k77xHe8cNNCMne2539ml2iImY2AnAD4ArAKYBzANKl8gPgE8AOwBrAiqR0mbBUuPMPd1zD79MJ6KIEqQEo6nf3svUIFWlNlJkyPPPHa5LKppN9AGOSy0NSMLNbAG8ABgH8+djMFDFIZhmZWcy6HcDM7gC8AlAjH0guYnZHA5jZDMBjUa4Zybl0zQA+hk8AFH1NFiQnrQBjjzrUfY+oH8pkcJNV65JcfTjx24OaPAWgsrTIJG1+mLjUSzIpLc6jTQZSAqiekZWtIFuSXd9KANH8stWz221IinhBSoDavA/Fm5OUnyrAMQ2OPsXy5z6AdJMOjTx+n41qWSLN/XerZ7c7SW9CbV3bMQAkM5//AqBRFfWnJHd+TDQVOj6xeRoGHRlt1KWZ6arpbZSOaDamzmJxQItLvdB61v9aa9mB7r18L+5YwLIJN8LfZCcuhHvRlahn57e2o+NCjWja/YpcKSsK/RTlV3IX9KaVslIpXR/tdCOkC/IL/QHMGS6O3HQAAAAASUVORK5CYII=);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}

#m_settings{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACMElEQVRIS52V0XEUQQxEuyPARICJwDgCML98gCMAB0CBIwATgTOwiQD7g2/OEXAZgCOAC4AS9Q7parw769tjqra2dkZSS60erdVZEbEv6bukPUknti97dnP2XEYR8UQSgReS3kn6mGd8nyTYvu2rOYHLZg2Qwb9lkN/5Hsap/Z0qKgCy/TAzs2vbr2baqgCg5sfA6Sa/oe5Bc3a8C03Ohr5uOCfWJkieLxsQenJqm72tCwC4bTO8sf2s9YyIHoWHc0AAiEEaI44j4o2ki4Hdke1FRCBlVHfbkzMA55Jo2qMMQEWPbfNer4iAlqf5uZKEVN9jk/4AsIhDXw9sn7Ex1eSfkgAGhOxbyk4lcf5FEn1ABL1Fn84LAGQc5iwyI+jLLcZroRQA2VaZ20CuJTE6KqFb6MpqeRfwP7U1PONEZoBheJBnBGCPM563kj41tN25FxEBfZt+bgAGsmxVc2a75tKw4bghCIKWIOhLJbeaAkB61bw/kp5LQr7LjmQvbTMMAW97uZZ7FyCNoYXxgRMqglNoBPxzKqkuKFmjuFZtV7aPpyrAkOk6tV5I+rpFDSvbe/dR9CsDMPTInkqK24e5x5Dk0nFGNVxCBEKVCygdAQz+DVx/gsAvTgUKJUcEosERAXUMzNGYmQLgd8la2j5sFNIOxnnDrsdjjuj6P5AdD9LlGUnzvl5M9QCJVhVD/9Ew/B8A+CZrLhBZ00BuNNzD+53/xc4AnVsNCON51l+s9f8L9XzrHyRiDOgAAAAASUVORK5CYII=);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}
#m_refresh{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAB1klEQVRIS7WW4VECQQyFXypQK9AO1ArUCtQKxA60AulAOxA6gAqECtQKxA6kgjgfbpjl3D0WZ9w/MHfZvJfkJTlTz3H3I0mXks4l8f8kmc/S70jS1My+am6s9CI5fpA06COQvQPovgT0C8DdryQ9S9pvdB5mRHFrZpP83gaAu8MY5/mZS4LhzMwWvHD3SNmdpOOOPSDYYzdaAxScf5IiM4t8FwNKYDg8zAyuJZGJmxWAu5OOjywt7xS2r3g5WroPkW40CgAY3KRLMD9pdR5ACeStE4ksKQb2cS62paVWfHenwMh6fQCgUI/pydzMKODOh4JmWdgAyFHXCtgFoeYcHxFBaH4UUmwFcHe6G8UUT7GTW5232P0/gLsPaYUKm6WZPbUwzeTKUAzJL6lB1XlqNrTdfDoTYVoDoJOvdi04LNydjj5LjO5LADuNiTy0NJdesmcHJQAm5ukfR8VrWkxgjM1sUEsReWdkVDdVhzl9BPPYeEuAuB8AY+Z9ZxcQCZ3dMq7ZIagnznUsHgDo3tVqrCwcokGqCzNj+WAHU0Yz97qza2Pc1FYmg2uvWZs/hqSFBVVfmVmzkFNYR8NswyLFw5Kse0dFWiIMsvi6CH0jZWpEfSZ9/fINN0vWrzYNsVIAAAAASUVORK5CYII=);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}
#m_home{
    background-image:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABbElEQVRIS+2TbVkEMQyEJwrAATgAByDhUAA4AAXsKQAHgAJOwuHgcHA4AAXDMyVdcmW32+Pj4Q/51900k7yZGn45bJv6JDsANLN5670mAZK7AB4AHHvhJYATM3uZEpoUIHnoxfeLYmsXWdVEqgIkzwDcTnR5bmZ3YzmDAo7kGoAEcryGswruhH86Xw4h+yRAUijEW2hyPAGYmZmwwHMWAA5CjlBpLyknx4YAyZkj0VJz3AO4UHfRRT7lDYDTkKulC5nEU/QCfvmqYJn41lw0sqcuW9kGLkvj2ZGsSMqaQhanUo66FZKlO01d74UG361MUszij0cvnpGUU5WGSd16oxI5CglrCTB8mJtZNzJVWTie+4dXos4CyYJaTgVJTaBEJrMkK0tA9koWHFn0VOExZLL7Ii05P5AC17aFP7xvltyZascqPy2w8Q5cMS782xM0C5iPXCqOTRzzmxD9C/RoW5i2uO7vdvBlX1YuvgHrc9vUP49vEAAAAABJRU5ErkJggg==);
	padding-left: 34px;
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 18px;
	}*/
/*************************Icons******************/
.ui-btn-icon-right:after {
    background-color: transparent;
}
/*Arrow Up Icon*/
.ui-icon-carat-u:after {
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACeElEQVRIS7VWTW7aUBD+BptdK5xdpYBKTxBygsAJQpddmJ89SPQETU/QqHiPgxddFk4Q3yDkBKWCSN3VUdj5wVRj48g4tuOoylvBe+Pvmzcz38wj5Kx3ox91XalzAE0AdSI0xJwZCwBLAK7S9fmfy0/yO3VR2q4Al7f+F4B6wTnjnokXBHjhXxjE1AChEn7Ptq+Vv6YRPSGoDZw2iCcAGWBcMWCvLdNNc6Q6cJoE9EDoAuyBqb+yzFnc9oDgeDjtlUATZvwG0MsCTpIJEQCbCO934P7duGNHNo8Eoef4yYzbja6a3mU/CEfRZYwmxhulu0Q4AeNjdJOAYB/zG2a63+iq8VLwyIk9yYKIK75WPpWcBAS1gWNLHJnRKhqWrJsFeSFcS/5Wltmj0Hv1K9ooGpI8u9pwOgPo3Nf0D3Q8nI5KoG/Peb+//rUAb3TVygtjlM8d+DMFbEzNlWUaWV5F4HGhFSDxQOxSdeAsQOytxx0ptScrDi4lKAb7Ul7kkVSHUxdMFaoNHQZ4vhp32kn0JHhU3zG9ZJIIAYHOMgmywCMnniOJEp0ZIgmdiCapzPgtYyTu2jJb8bN9iIwwycDZatw5ihvI/g6YxWWfliMhkca3tszRwfcDJ0xy0TJ9iT4OyvTVhfbqreKx2Sklevj7oG1P/6fZvd1qN2A6etBVXXDS2nWugAqpPdmuk7UN8JKZ+kU7a9hBgylYzxw4EUlQAYC07wozZlTa2avv3Xma52LLQJcIbZnbMgVzR2YEElSWUhfhrJXFHjPJSyKacgYRN4K5HRzjytf1i0JDP+6pEGlbv10Cmswkz5aTAI9xS8RLEeJWK7t5z5Z/dSKl/8G5iwIAAAAASUVORK5CYII=")!important;*/
	background-image:cover;
	border-radius:0;
	width: 36px;
    height: 36px;
	background-color:transparent;

    background-image: url('./icons/ic_arrow_drop_up_circle_white_36dp_1x_c.png')!important;
    /*-webkit-transform:rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);*/
	}
/*Arrow Down Icon*/
.ui-icon-carat-d:after {
    background-image: url('./icons/ic_arrow_drop_down_circle_white_36dp_1x_c.png')!important;
    /*background-image: url('./icons/ic_play_circle_outline_black_24dp_1x_c.png')!important;*/
    
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACf0lEQVRIS7VWQW4aQRCsYte3RKxvkQwKfoHJC4xfYHLMAQx3kPhBkhfECtxN4JBj8AvMD4xfEKK1pdyCBTcGOurZHQRkl2Al7hPMznT1dFdXD7HDXrW+FnxjzgGUABRIFHW7CEYAxgCGxvevf16+09+JxqRVdXywmL8HWLPfBY9CGRGYRH8RUFgEkY3OS3fuHXxMAvoDIN/ol0G5AhhA8EWA7n2nMkwKJNfol0hpATwHZAJhPexUBut7NwCOmr1aBrwSwQ8AtTTH22AKBKBL4vUSUn9oV7tuzwogihzfRHA3801pclm36djXgtZV8ML4QxInELx1N7EAcc5vRfg4803xqc5dEDHIiJTs1Fscqx8LkG/0uyAuRHC2b1rSbhbVBTdav7BTqTGK3nx3C/umZNe+fLM30MLPPf+YR81eKwN++h/RO1BXTy04LZqwFHYqwXpUur4EBuuMSKHqpeY8bFfrG+cb/QkoQ+Ya/REok/t2Vam2Ml1XRmzTbsuJrV1SenPN3hDCLPPNvgByHbar5fXD67RLAnHESKudAhA8TQVQsDSQvzm3zIwLnZqiLW7bBtKbZISltLRspDhKURAVGTgN29XDNOptdKnVtojjO6nqirwvTVcgwGgP51Z2LE2fvdGeXSpWYmeM9sOvqbd48y9i93Lh3UJ4OPVNYSV28S2cXI9mvjl7Kkhcoxs7Vrfl2rHBDRxAxiKs76us8WTTKVhIHTgbQgWoBGRFMGBm2Q0/X1wnUVJFTYALEmWd2zoFd45M58Qyy5gPtqGsyUSE+pJwUy4gpWjndtwXU9+0ktKa+KpYB/IW83IGKIlQny0n1p/gjpSxqu3COxjuerb8BhCtlt+wgPAbAAAAAElFTkSuQmCC")!important;*/
    background-repeat: no-repeat;
    background-position: center center;
	
    background-image:cover;
	border-radius:0;
	width: 36px;
    height: 36px;
	background-color:transparent;
	}

.ui-select > .ui-icon-carat-d:after {
    background-position: center -3px;
}


/*select#datetype:after {
    background-position: center -6px!important;
}*/


/*Arrow Right Icon*/
.ui-icon-carat-r:after, .ui-icon-arrow-r:after {
    background-image: url('./icons/ic_arrow_forward_white_24dp_1x_c.png')!important;
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACn0lEQVRIS6VWQW7aUBB9Dzu7VqK7SgGFnCDkBCEnKFlWlSlsK1DoCZKeoFRY3YaAqi7jnKD0BCEnCBVE6q6RICu+mep/bEKIbZx2VrbsP2/mzcybTyTY6+b3gjXzD0gpAyiQKOrfRTAAMBShd781u7xr1e7i3DDqg3a85c9OAFaNQ8hPCocCDPU7KUUBsgQPFuelM7H8j1FATwDy9V4ZlDMIKUBL2Xbnd+utcbxuOhBbqSaBKigCYW3kOt7qf48AthvdagY8E8H11FalpNRXnQRAHom9OaR22650wu9LgEXkuIDgfOQ6hprQss2zrH7eBJiv9zog3kNwFGZiAALOr0T4a+w6ppCrlqv3WqS8n/vW4e3Xd7rAsZar9wak7Ewsf1cHZAAMMlCe2KoQFeX2h2/FTGbeB+XPxPL3kzIxwSqlg/A0E1xEr25E8GnsOqdxoYUgAtxMbXWYBLLIGMczy97ldqPbzICf9Utct4SgaUHCoHXBmW90Pd3T43allMTtc0FyjW6fwB2DogxH7Yqe1lSWJhMTuHCH+UZPNvEfhboKMnad/YjOOyVx8n8Alv9DT3xU9+XqvQWApghAf+w6zVT8ADDRB87n80wpajYCigqLIgt3otKMpWaDc31uWeRnt2kK54/a9FmDlsK5iT4YtImlXj1IBeVNqB/r1KThPDwT6hqEl0YqlmKn1ECAq7HrHEaKHVCNK+iaMA4IFMLOeirXkM6oXamtg2jJ/me5XsrAw8LpT211tMnhKi22Uhd6Z8cunPBns3iAjl6BItQr8zxOBHVWL5R9TEpTDxyAauLKDEH0wZfKbpntFNwiSOmL0NweSMmKsEjCCKQIvkxtdZpq6a9yb64t/qyUAcoi1NeWvcDhNSnDOeDdW76XROVfl4nev81KN+IAAAAASUVORK5CYII=")!important;*/
	background-image:cover;
	border-radius:0;
	width: 36px;
    height: 36px;
	background-color:transparent;
	}
span.ui-icon-arrow-r.ui-btn-icon-right {
    position: absolute!important;
    right: -7px;
    top: 12px;
}


	/*Arrow Left Icon*/
.ui-icon-carat-l:after, .ui-icon-arrow-l:after {
    background-image: url('./icons/ic_arrow_back_white_36dp_1x_c.png')!important;
    /*background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAACXklEQVRIS7VWQW7aQBR933Z2lcKyEqDACaA3oCcoXVYVFG8jUJ0TJDcoEahbCFbVZekJ4p4AcoIQQaQuqWDHeH41Y5s6xDEmVf7KGs289+b/P/+ZkBKvne8lS4h3AGoASkSoqu3MmAKYAfCEZf383f2gvhODklYV8JG/OQeoFQLegXhGTBqIiUtgUoQnwXkerkz/bNm1l7t4jwiKbbcO4gFAOTCupDS6918/KsWPIn/6rWoY0gHhE8BLMNnzfmMc3/iAIN8ZtQzQgBk3LI3WU8C7TIqIDDkkQkWC7ftecxjt2RIEyvGDwb/Wpl9Pum5avXLOIPdKWJ4iAeN9dBNNEOZ8wkx3a0vUDgWPiP+R8MnK9MsKRxMU2+5Q5VH6xpssaSm03QvVQYt+w0tKl2HKiarfvN9oUaBe3EYLaWmIi2HG5aLfcJL2R4I3plWmfGfkGKAvWdRHB/eJ0d1lyokEn1GxMxozU3XRb5TS1GcFjzCKbXcJYo8KbXcK4uWi11SvNTEOBVcghc7IA9MxFTsup11ZFZQI5/vSsqssEpWdADyc95r2viaIpUh35mEpOoAkTFFOFxlAZd5rljMVOSPJtsjPatM9JA/a9MUf2ouPiu2wE2LKwO3aEm//c9hdE1BeWaK0HXbhLYJxzZg+hyScpNfaVnfHddQ9McOZsjTsLJNVnQ0NZ6DAnzSc2AOpA1CP5Fh5rfTNy1TLNP3P2rsZfwC0Ui0zItGdJcRF4LUqeMZMMyIOTF8bPle1b+sFXK0s4WQy/fhjU0Smv6kbQC0ARSUgwI0ik4Dnm0fjtN+Wv13zof+NrdWlAAAAAElFTkSuQmCC")!important;*/
	background-image:cover;
	border-radius:0;
	width: 36px;
    height: 36px;
    margin: -18px 0px 0px 4px;
	background-color:transparent;
	}


/*scan button*/
#searchBarcode {
    background-image: url('./icons/barcode_64.png')!important;
    background-repeat: no-repeat;
    background-position: center center;
    background: cover!important;
    background-size: 75%;
	width: 64px!important;
    height: 64px!important;
    margin: -18px 0px 0px 4px;
	background-color:transparent;
    position: relative!important;
    top: 33px!important;
    left:4px!important;
    padding-top: 0px;
    border: none;;
}
.ui-icon-search:after {
    background: transparent;
}

    /*main.css overrides*/

   .ui-overlay-a, .ui-page-theme-a, .ui-page-theme-a .ui-panel-wrapper { 
        background-color: transparent;
    }

    input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input::-webkit-input-placeholder, textarea::-webkit-input-placeholder, select::-webkit-input-placeholder {
    color:#C0C0C0;
    font-family: UniNeueBook;
    font-size: 20px;
    line-height: 26px;
    padding: 4px;
}

span.ui-slider-label.ui-slider-label-a.ui-btn-active {
    /*background-color: rgba(76, 175, 80, 0.75);*/
    background: transparent;
}

.ui-slider-track .ui-btn.ui-slider-handle {
    background-image: url('./icons/denmark_round_32.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100%;
}

label#lblErrorLogin {
    margin-left: -40px;
}

/*#remember_me {
    border: none!important;
}*/

.ui-mobile .ui-page-active {
}

a.ui-collapsible-heading-toggle.ui-btn.ui-icon-carat-d.ui-btn-icon-right.ui-btn-inherit {
    /*background-color: rgba(211, 194, 194, 0.25);
    color: white;
    text-shadow: none;
    font-size: 21px;*/
}

body.ui-mobile-viewport, div.ui-mobile-viewport {
    font-size: 21px;
    font-family: UniNeueBold;
    text-shadow: none;
    color:rgb(18, 18, 18);!important;
}


a.fixed-header.nav_link.ui-btn.ui-icon-arrow-l.ui-btn-icon-left {
    color:rgb(18, 18, 18);
    text-transform: capitalize!important;
}

.ui-shadow.ui-btn.ui-corner-all.nav_link.ui-mini.ui-icon-arrow-r.ui-btn-icon {
    color:rgb(18, 18, 18);!important;
}

li.ui-li-static.ui-body-inherit.ui-first-child {
    padding: 10px!important;
    padding-left: 10px!important;
    font-family: UniNeueBold!important;
    text-shadow: none;
    font-size: 21px!important;
    color:rgb(18, 18, 18);
}

a.ui-shadow.ui-btn.ui-corner-all.nav_link.ui-mini.ui-icon-ar.row-r.ui-btn-icon {
    color:rgb(18, 18, 18);!important;
}

/*checkboxes color under settings*/
.ui-page-theme-a .ui-btn.ui-btn-active, html .ui-bar-a .ui-btn.ui-btn-active, html .ui-body-a .ui-btn.ui-btn-active, html body .ui-group-theme-a .ui-btn.ui-btn-active, html head + body .ui-btn.ui-btn-a.ui-btn-active, .ui-page-theme-a .ui-checkbox-on:after, html .ui-bar-a .ui-checkbox-on:after, html .ui-body-a .ui-checkbox-on:after, html body .ui-group-theme-a .ui-checkbox-on:after, .ui-btn.ui-checkbox-on.ui-btn-a:after, .ui-page-theme-a .ui-flipswitch-active, html .ui-bar-a .ui-flipswitch-active, html .ui-body-a .ui-flipswitch-active, html body .ui-group-theme-a .ui-flipswitch-active, html body .ui-flipswitch.ui-bar-a.ui-flipswitch-active, .ui-page-theme-a .ui-slider-track .ui-btn-active, html .ui-bar-a .ui-slider-track .ui-btn-active, html .ui-body-a .ui-slider-track .ui-btn-active, html body .ui-group-theme-a .ui-slider-track .ui-btn-active, html body div.ui-slider-track.ui-body-a .ui-btn-active {
    background-color:rgb(18, 18, 18); /*{a-active-background-color}*/;
    border-color: #3388cc /*{a-active-border}*/;
    color: #fff /*{a-active-color}*/;
    text-shadow: 0 /*{a-active-shadow-x}*/ 1px /*{a-active-shadow-y}*/ 0 /*{a-active-shadow-radius}*/ #1EAF8C /*{a-active-shadow-color}*/;
}


/** GSV>> **/

select, button {
    font-weight: bolder;
 }
 
a.fixed-header.nav_link.ui-btn.ui-icon-arrow-l.ui-btn-icon-left {
    font-weight: bolder;
    font-family: UniNeueBook!important;
    font-size: 22px; 
    text-shadow: none;
}

#main_content .ui-btn {
    margin-left: 0px!important;
}

a.nav_link.ui-btn {
    font-weight: bolder;
    font-family: UniNeueBook!important;
    font-size: 20px; 
    text-shadow: none;
}

.ui-select .ui-btn {
    margin-right: 0px!important;
}





/** GSV<< **/